@font-face {
  font-family: "iconfont"; /* Project id 2745894 */
  src: url('iconfont.woff2?t=1629244671857') format('woff2'),
       url('iconfont.woff?t=1629244671857') format('woff'),
       url('iconfont.ttf?t=1629244671857') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuan:before {
  content: "\e63d";
}

.icon-gerenziliao:before {
  content: "\e61c";
}

.icon-shoucang:before {
  content: "\e61a";
}

.icon-jilu:before {
  content: "\e646";
}

.icon-homepage:before {
  content: "\e637";
}

.icon-reshuiqianzhuang:before {
  content: "\e60d";
}

.icon-meiqitianranqi:before {
  content: "\e60e";
}

.icon-dianshi:before {
  content: "\e795";
}

.icon-nuanqi:before {
  content: "\e90d";
}

.icon-xiyiji:before {
  content: "\ec78";
}

.icon-kuandai:before {
  content: "\e607";
}

.icon-bingxiang:before {
  content: "\e60f";
}

.icon-shafa:before {
  content: "\e612";
}

.icon-kongtiao:before {
  content: "\e651";
}

.icon-yigui:before {
  content: "\e7eb";
}

.icon-chakantiezifenxiang:before {
  content: "\e660";
}

.icon-zuojiantou:before {
  content: "\e647";
}

.icon-xialajiantou:before {
  content: "\e60c";
}

.icon-sousuo:before {
  content: "\e604";
}

.icon-jiantou-copy-copy-copy:before {
  content: "\e669";
}

.icon-shouye1:before {
  content: "\e602";
}

.icon-ditu:before {
  content: "\e601";
}

.icon-lianxiren:before {
  content: "\e697";
}

.icon-chuzuwu:before {
  content: "\e66a";
}

.icon-chazhaobiaodanliebiao:before {
  content: "\e76a";
}

.icon-zixun:before {
  content: "\e771";
}

.icon-wode:before {
  content: "\e617";
}

.icon-shouye:before {
  content: "\e635";
}

